
.wholeArea{
    width: 80%;

}
img{
    border: 0.5rem outset pink;
    /* outline: 0.5rem solid khaki;
    box-shadow: 0 0 0 1rem skyblue; */
    border-radius: 12px;
    font: bold 1rem sans-serif;
    margin-left: 150px;
    padding: 1rem;
    outline-offset: 0.5rem;
    /* min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%; */
    max-width: 100%;
    height: auto;
}
.card-img{
    max-width: 100%;
    height: auto;
}
div {
    border: 1px none green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
h1{
    font-size: 70px;
    overflow: hidden;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.gameButtons {
    border-left:  5px solid black;
    border-right:  5px solid black;
}
.gameButtons button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 7px;
    margin: 5px;
    background-color: black;
    border: 1px solid white;
    color: white;
    letter-spacing: 2px;
    font-weight: bold;
    line-height: 2.5;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    width: 100px;
}
.gameButtons button:hover {
    background-color: rgb(240, 16, 184); 
    color: white;
  }
.gameButtons button:active{
    background-color: rgb(240, 16, 184);
    box-shadow: 0 3px rgb(236, 182, 238);
    transform: translateY(2px);
  }
.dScore, .pScore{
    margin-top: 20px;
    margin-bottom: 10px;
}
.dScore{
    border-top: 5px solid black;
    padding-top: 20px;
}

.pHand, .dHand{
    display:inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1px;
    align-items: center;
    }

.pCards {
    border: 1px none green;
    height: auto;
}
.pCards img{
    height: auto;
    max-width: 100%;
}
.dealerSeat{
    border: 8px none rgb(4, 245, 132);
    margin-bottom: 30px;
}


.message{
    color: rgb(255, 113, 42);
    font-size: 24px;
    padding-bottom: 20px;
}
.head{
    border: 5px solid black;
}
.gamePlay {
    border: 5px solid black;
    font-size: 30px;
}
#dealer-hand img {
    height: 150px;
    width: 100px;
    margin: 20px;
    position: relative;
    max-width: 100%;
}
#player-hand img {
    height: 150px;
    width: 100px;
    margin: 20px;
    position: relative;
    max-width: 100%;
}

#betButtons {
    display: flex;
    justify-content: center;
    flex-direction: row;

}
#betButtons button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 3px;
    margin: 5px;
    background-color: black;
    border: 1px solid white;
    color: white;
    letter-spacing: 2px;
    font-weight: bold;
    border-radius: 50%;
    width: 100px;
}
#betButtons button:hover {
    background-color: rgb(23, 184, 130); 
    color: white;
}

.betTotal {
    letter-spacing: 2px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    border: 2.5px solid black;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: white;
}

.bettingArea{
    border-left: 5px solid black;
    border-right: 5px solid black;
}

.bank {
    letter-spacing: 2px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    letter-spacing: 2px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    border: 2.5px solid black;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: white;
}
.hideButton {
    visibility: hidden;
}
.showButton {
    visibility: visible;
}
.hide {
    display: none;
} 
.show {
    display: inline-block;}

.moneyScore{
    display: inline-flex;
    justify-content: space-between;
    /* align-items: center; */
    margin-top: 10px;
    gap: 50px;
}

/* 

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px){
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px){
    .responsive {
      width: 100%;
    }
  } */